{{ define "main" }}
	<div class="index-body">
		{{ range first 5 (where .Data.Pages "Type" "fragments") }}
			<p>
				<a href="{{ .RelPermalink }}">{{ .Title }}</a> . {{ .Summary }}
				{{ if .Truncated }}<a class="no-underline" href="{{ .RelPermalink }}">...</a> {{ end }}
			</p>
		{{ end }}
	</div>

	<hr />

	<div class="bottom-body">
		<p><span class="title-bold">Latest Essay:</span> 
			{{ range last 1 (where .Data.Pages "Type" "essays") }}
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			{{ end }}
		</p>
	</div>
{{ end }}