{{ partial "header.html" . }}
	
<div class="ui stackable fourteen column page grid">
		<div class="ui five wide column">
			<div class="ui huge middle aligned icon header">
				<img src="{{ "images/prashish_rajbhandari.jpg" | relURL }}" class="ui medium circular image mainpic" alt="rollin'" />
			</div>
		</div>

		<div class="ui eleven wide column">
				<span class="main-body">
					<p>I grew up in Kathmandu. I <del>currently live in SF Bay Area, USA</del> moved back to Nepal.</p>
					<p>Drove to 41 US states in 25 days for <a href="https://medium.com/@prashishh/how-mozdrive-started-af56d4be8a82" target="_blank" title="MozDrive">Mozilla Foundation.</a></p>

					<p>
						<a href="/reading">/reading</a>
						<a href="/now">/now</a>
					</p>

					<p style="font-size:15px">Last updated: 04/14/2018</i></p>
			</div>
	</div>
	
{{ partial "footer.html" . }}

