{{ define "main" }}
	{{ $fragments := where .Site.RegularPages.ByDate.Reverse "Section" "fragments" }}
	<div class="index-body">
		<a href="/fragments/" class="section-heading-link">
			<h3 class="section-heading">Short-form Fragments <span class="section-count">{{ len $fragments }}</span></h3>
		</a>
		{{ range first 7 $fragments }}
			{{ partial "index-item.html" . }}
		{{ end }}
	</div>

	<hr />

	{{ $ai := where .Site.RegularPages.ByDate.Reverse "Section" "ai" }}
	<div class="index-body">
		<a href="/ai/" class="section-heading-link">
			<h3 class="section-heading">Essays on AI <span class="section-count">{{ len $ai }}</span></h3>
		</a>
		{{ range first 7 $ai }}
			{{ partial "index-item.html" . }}
		{{ end }}
	</div>

	<hr />

	{{ $essays := where .Site.RegularPages.ByDate.Reverse "Section" "essays" }}
	<div class="index-body">
		<a href="/essays/" class="section-heading-link">
			<h3 class="section-heading">Long-form Essays <span class="section-count">{{ len $essays }}</span></h3>
		</a>
		{{ range first 7 $essays }}
			{{ partial "index-item.html" . }}
		{{ end }}
	</div>
{{ end }}
