{{ partial "header" . }}

<div class="now-body">
  {{ range .Data.Pages.GroupByParam "read_year" }}
  <p><strong>{{ .Key }}:</strong></p>
  <ul>
    {{ range .Pages }}
    	<li>{{ .Title }} {{ .Params.url }} {{ if ne .Params.author "" }} - {{ index .Params.author }} {{ end }}</li>
    {{ end }}
  </ul>
  {{ end }}
</div>

<br />
<div class="now-body">
	<p><strong>2018:</strong></p>
	<ul>
		<li><a href="https://www.goodreads.com/book/show/18176747-the-hard-thing-about-hard-things" target="_blank">The Hard Thing About Hard Things</a></li>
		<li><a href="https://www.goodreads.com/book/show/6885191-start-up-nation" target="_blank">Start-up Nation: The Story of Israel's Economic Miracle </a></li>
		<li><a href="https://www.goodreads.com/book/show/23692271-sapiens" target="_blank">Sapiens: A Brief History of Humankind</a></li>
		<li><a href="https://www.goodreads.com/book/show/31138556-homo-deus" target="_blank">Homo Deus: A Brief History of Tomorrow </a></li>
		<li><a href="https://www.goodreads.com/book/show/30835567-hit-refresh" target="_blank">Hit Refresh </a></li>
		<li><a href="https://www.goodreads.com/book/show/25814087-the-third-wave" target="_blank">The Third Wave </a></li>
		<li><a href="https://www.goodreads.com/book/show/34566019-it-all-matters" target="_blank">It All Matters</a></li>
		<li><a href="https://www.goodreads.com/book/show/25541028-elon-musk" target="_blank">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future  </a></li>
		<li><a href="https://www.goodreads.com/book/show/25111341-the-industries-of-the-future" target="_blank">The Industries of the future</a></li>
		<li><a href="https://www.goodreads.com/book/show/514964.Confessions_of_an_Economic_Hitman" target="_blank">Confessions of an Economic Hitman</a></li>
		<li><a href="https://www.goodreads.com/book/show/27533.Banker_to_the_Poor" target="_blank">Banker to the Poor</a></li>
		<li><a href="https://www.goodreads.com/book/show/27220736-shoe-dog" target="_blank">Shoe Dog: A Memoir by the Creator of NIKE</a></li>
		<li><a href="https://www.goodreads.com/book/show/22665915-battles-of-the-new-republic" target="_blank">Battles of The New Republic</a></li>
		<li><a href="https://www.goodreads.com/book/show/3228917-outliers" target="_blank">Outliers: The Story of Success</a></li>
		<li><a href="https://www.goodreads.com/book/show/18050143-zero-to-one" target="_blank">Zero to One</a></li>
		<li><a href="https://www.goodreads.com/book/show/6828896-delivering-happiness" target="_blank">Delivering Happiness: A Path to Profits, Passion, and Purpose</a></li>
		<li><a href="https://www.goodreads.com/book/show/12935037-principles" target="_blank">Principles</a></li>
		<li><a href="https://www.goodreads.com/book/show/76865.Good_to_Great" target="_blank">Good to Great: Why Some Companies Make the Leap and Others Don't</a></li>
		<li><a href="https://www.goodreads.com/book/show/35197436-economyths" target="_blank">Economyths: 11 Ways Economics Gets it Wrong</a></li>
		<li><a href="https://www.goodreads.com/book/show/40997438-global-citizen-from-gulmi" target="_blank">Global Citizen from Gulmi</a></li>
		<li><a href="https://www.goodreads.com/book/show/1184118.The_Dragon_and_the_Elephant" target="_blank">The Dragon and the Elephant: China, India and the New World Order
		</a></li>
		<li><a href="https://www.goodreads.com/book/show/38820046-21-lessons-for-the-21st-century" target="_blank">21 Lessons for the 21st Century</a></li>
	</ul>
	<br />

	<p>Please feel free to say Hi! at namaste[at]prashish[dot]xyz. ♫♪♬ ღ✰ ツ</p>
</div>

<p style="font-size:15px">Last updated: 09/19/2018</i></p>

{{ partial "footer" . }}
