{{ partial "header.html" . }}
<div class="ui page grid content">

	<div class="ui one wide column"></div>

	<div class="ui fourteen wide column">
		<h1 class="ui header">
			Title
			<div class="sub header h1">Date on <span class="black">Category</span></div>
		</h1>

		<div class="ui divider nomargin"></div>

		Content

		<div class="ui divider"></div>

		<strong class="bottom-line">If you have any questions, comments or suggestions, please give me a <a href="https://twitter.com/prashishh" target="_blank">shout out.</a></strong>
	</div>



	<div class="ui one wide column"></div>

	<div class="ui divider"></div>

</div>

{{ partial "footer.html" . }}
