{{ define "main" }}

	<div class="people-body">
		{{ .Content }}
	
		<div class="people-list">
      <ul>
        {{ range .Pages }}
          <li>
            {{ if (isset .Params "website") }}<a href="{{ .Params.website }}" target="_blank">{{ .Params.full_name }}</a>{{ else }}{{ .Params.full_name }}{{ end }} {{ if ne .Params.twitter "@" }}<a href=http://twitter.com/{{ .Params.twitter }}>({{ .Params.twitter }})</a>{{end}}{{ if and (isset .Params "description") (ne .Params.description "") }}:{{ .Params.description }}{{ end }}</li>
        {{ end }}
      </ul>
		</div>
  </div>
  
{{ end }}