@media screen and (max-width: 780px) {
  .permanent {
    display: none;
  }
}

@media only screen and (max-width: 766px) {
  p.top-content {
    margin-top: -20px !important;
  }
}

@font-face {
font-family: "freight-text";
src: url(../fonts/freight-text-book.otf);
}

@font-face {
font-family: "antique-oakland-bold";
src: url(../fonts/antique-oakland-bold.ttf);
}

p, p a, .full_text {
margin-top: 30px;
font-style: normal;
font-family: Helvetica;
letter-spacing: 0.01rem;
font-weight: 400;
font-size: 18px;
line-height: 1.4;
text-align: justify;
}

hr {
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
margin-top: 30px;
margin-bottom: 30px;
width: 80%;
}

p.sub-header {
margin: 0px 0 20px 0;
}

a, .no-link {
text-decoration: underline;
color: #000;
}

a.nounderline {
text-decoration: none;
}

blockquote p{
font-style: italic;
}

.top-img-column {
height: 400px;
}

.ui.header.top-title {
font-family: "freight-text", Georgia;
font-size: 35px;
font-weight: 700;
margin: -15px 0 0 0px;
}

.ui.header.top-title.experience {
margin-top: 0px;
}

.ui.header.projects {
margin: -10px 0px 5px;
}

.ui.header.top-title .text {
border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.ui.header.title {
font-family: "freight-text", Georgia;
font-size: 35px;
margin-top:10px;
margin-bottom: 2px;
font-weight: 550;
}

.ui.header.subtitle {
font-size: 1rem;
font-weight: normal;
margin: 0em;
padding: 0em;
line-height: 1.2;
color: rgba(0, 0, 0, 0.5);
font-style: normal;
font-family: Georgia;
letter-spacing: 0.01rem;
}

.ui.right.floated.image {
margin-top: 1.9em;
}

.ui.grid.top-menu {
padding-bottom: 5px;
}

.ui.grid.bottompadding {
margin-top: -10px;
}

.ui.grid.categories {
margin-top: 45px;
}

.ui.grid.categories .ui.wide.column.category {
  padding-left: 45px !important;
  padding-right: 45px !important;
  font-size: 16px;
}
.ui.grid.categories .ui.wide.column.category .ui.list li {
  line-height: 1.3em;
}

.ui.grid.content {
padding-top: 35px;
}

.ui.floated.menu.nopadding {
padding: 0px;
}

.ui.up.arrow {
position: fixed;
bottom: 15px;
right: 20px;
}

.ui.grid > .row {
margin-top: -0.5%;
}

.ui.pointing.menu .item {
font-size: 20px;
}

.ui.grid > .row {
margin-top: 0px;
padding-top: 0px;
}

.ui.twelve.wide.column {
padding: 0px 10px 0px 10px !important;
}

.ui.stackable.grid > .column, .ui.stackable.grid > .row > .column  {
padding-top: 0px;
margin-top: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.maincontent {
padding-top: 10px;
}

.name {
font-size: 20px;
font-style: normal;
font-family: Georgia;
letter-spacing: 0.01rem;
font-weight: 400;
font-size: 45px;
line-height: 1.2;
}

.red {
color: #000;
font-weight: 700;
cursor: pointer;
font-family: "antique-oakland-bold", Georgia;
}

.red-color {
color: red;
font-weight: 700;
cursor: pointer;
font-family: "antique-oakland-bold", Georgia;
}

.centerimage {
margin: 0 auto;
}

.ui.right.floated.image.nomargin {
margin-top: 0;
margin-bottom: 0;
}

.ui.twelve.wide.column.centeraligned p{
text-align: center;
}
.ui.horizontal.divider {
margin-bottom: 40px;
}

.ui.medium.image.mainpic {
width: 250px;
padding-bottom: 7px;
margin-top: 30px;
}

.ui.medium.image.sidepic {
margin-top: 0px;
width: 300px;
}

.ui.medium.image.scoopbanner {
width: 75%;
}

.ui.medium.image.paycliplogo {
width: 100px ;
}

.ui.medium.image.payclip_img {
width: 200px ;
margin-top: 0px;
}

.ui.medium.image.remologo {
width: 300px ;
}

.ui.medium.image.miclogo {
width: 350px ;
margin-bottom: 15px;
}

.ui.medium.image.scooplogo {
width: 700px ;
}

.row.more {
margin-bottom: 15px;
}

.no-text-decor {
text-decoration: none;
}

.mozdrive-tweet {
width: 530px;
height: 110px;
margin-top: -15px;
padding-bottom: 15px;
}

.ui.center.aligned.header.copyright {
margin-top: -10px;
font-family: "freight-text", Georgia;
font-size: 14px;
font-weight: 300;
}


.ui.center.aligned.header.copyright a{
text-decoration: none;
}


.ui.divider {
margin-top:30px;
}

.ui.divider.nomargin {
margin-top: 0px;
margin-bottom: 30px;
}

.ui.divider.sm {
margin-top: 15px;
}

.ui.small.images.sm img {
width: 30px;
}

.ui.medium.images img {
height: 225px;
}

.ui.medium.images.food img {
width: 275px;
}

.ui.images.sm {
}

.img-header {
width: 100%;
margin-bottom: 10px;
}

.tooltip {
display:none;
position:absolute;
border: 1px solid #333;
background-color:#161616;
border-radius: 4px;
padding: 5px;
color:#fff;
font-size: 12px;
font-family: "freight-text", Georgia;
}

span.underline {
border-bottom: 1px solid #000;
}

span.black {
color: #000;
}
h1.ui.header {
font-size: 3em;
}

h1.ui.header .sub.header {
font-size: 1.1rem;
}

li.archivelist {
color: rgba(0, 0, 0, 0.5);
font-size: 1.2em;
}

span.archivelistdate {
  font-size: 0.7em;
}

li.smallarchivelist {
color: rgba(0, 0, 0, 0.5);
font-size: 1.2em;
}

span.archivelistdate {
  font-size: 0.7em;
}

span.subname {
color: rgba(0, 0, 0, 0.5);
font-size: 0.7em;
}

a.more {
text-decoration: none;
font-weight: 300;
color: rgba(0, 0, 0, 0.5);
font-size: 0.9em;
}

span.careertitle {
font-weight: 600;
}

span.nobold {
font-weight: 300;
}

.permanent {
position: absolute;
font-size: 0.5em;
text-align: right;
bottom: 10%;
right: 15%;
}

.image-wrapper {
max-width:90%;
height:auto;
position: relative;
display:block;
margin:0 auto;
}

.image-wrapper img {
margin: 0 auto;
max-width:100% !important;
height:auto;
display:block;
}

.image-wrapper iframe {
margin: 0 auto;
max-width:100% !important;
display:block;
}

.centered.column.toppadding {
margin-top: 15px;
}

.ui.divider.nomargin {
margin-top: 0px;
}

.ui.dividing.header.catheader {
  font-size: 24px;
}

.bottom-line {
  font-size: 18px;
}

.main-body p {
  margin: 0px;
  line-height: 1.5;
  margin-top: 20px;
}

.main-body p a {
  font-weight: 500;
}

.credit {
  font-size:15px;
  font-style: italic;
}

.now-body p, .now-body p a {
  font-size: 18px;
  margin: 0px;
  margin-top: 5px;
}

.now-body ul li {
  font-style: normal;
  font-family: "freight-text", Georgia;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
}

.contact {
  margin-top: 40px;
  margin-bottom: -10px;
}
.ui.secondary.pointing.menu>.item {
  padding-right: 0;
}

p.top-content {
  margin-top: 15px;
}

h1.ui.header {
  font-size: 2.1em;
}