{{ define "main" }}

	<div class="bookshelf-body">
		<p> {{ .Params.content.top }}</p>
	
		<div class="bookshelf-list">
			{{ range .Data.Pages.GroupByParam "read_year" }}
				<p><strong>{{ if eq .Key "NO" }} Shelf: {{ else }} {{ .Key }}: {{ end }}</strong></p>
				
				<ul>
					{{ range .Pages }}
						<li><a href="{{ .Params.book_ref_url }}">{{ .Title }}</a>{{ if isset .Params "description" }}: {{ .Params.description }} {{ end }}</li>
					{{ end }}
				</ul>
			{{ end }}
		</div>
	</div>

{{ end }}