{{ define "main" }}

	<div class="bookshelf-body">
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p> 

		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p> 
	
		<div>
			{{ range .Data.Pages.GroupByParam "read_year" }}
				<p><strong>{{ .Key }}:</strong></p>
				<ul>
					{{ range .Pages }}
						<li>{{ .Title }} {{ if ne .Params.author "" }} - {{ index .Params.author }} {{ end }}</li>
					{{ end }}
				</ul>
			{{ end }}
		</div>
	</div>

{{ end }}